.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 3% auto;
  font: ;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.todo-text {
  font-size: 16px;
}

.remove-btn {
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-btn {

}

.remove-btn:hover {
  background-color: darkred;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 70%;
  margin-bottom: 10px;
}

button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

ul{
  list-style:none;
}

button:hover {
  background-color: blue;
}
